@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Address Book</h1>
    <p>Learn how <a href="https://www.nelsonthedev.com/">I built this app and others by checking out my portfolio.</a>.</p>
</div>
